button {
	background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
}

button, .button {
	position: relative;
	display: inline-block;
	height: auto;
	width: auto;
	min-width: 9rem;
	margin: 0 var(--base-spacing-sm) var(--base-spacing-sm);
}

button span,
.button span {
	display: inline-block;
	position: relative;
	top: 0;
	left: 0;
	padding: var(--base-spacing-sm) var(--base-spacing);
	transition: 0.3s;
	text-align: center;
	width: 100%;
}

button:not(.button-alt) span,
.button span {
	color: var(--grey);
	background-color: var(--lgt-green);
}

button:before, 
button:after, 
.button:before, 
.button:after,
button span:before, 
button span:after, 
.button span:before,
.button span:after {
	content: '';
	position: absolute;
	z-index: 2;
}

button:not(.button-alt):before, 
.button:before, 
button:not(.button-alt):after, 
.button:after {
	height: 2px;
	width: 15%;
	background-color: var(--teal);
	bottom: 0;
	transition:width 0.2s 0.35s ease-out;
}

button:not(.button-alt):before, 
.button:before {
	right: 50%;
}
button:not(.button-alt):after, 
.button:after {
	left: 50%;
}

button:not(.button-alt):hover:before, 
.button:hover:before, 
button:not(.button-alt):hover:after, 
.button:hover:after,
button:not(.button-alt):focus:before, 
.button:focus:before, 
button:not(.button-alt):focus:after, 
.button:focus:after {
	width: 50%;
	transition: width 0.2s ease-in;
}

button:not(.button-alt) span:before, 
button:not(.button-alt) span:after, 
.button span:before,
.button span:after {
	width: 0%;
    height: 0%; 
    background: transparent; 
    opacity: 0;
    z-index: 2;
    transition: width 0.2s ease-in, height 0.15s 0.2s linear, opacity 0s 0.35s;
}

button:not(.button-alt) span:before, 
.button span:before {
	bottom: 0;
    left: 0;
    border-left: 2px solid var(--teal);
    border-top: 2px solid var(--teal);
}

button:not(.button-alt) span:after,
.button span:after {
	bottom: 0;
	right: 0;
	border-right: 2px solid var(--teal);
	border-top: 2px solid var(--teal);
}

button:not(.button-alt) span:hover, 
.button span:hover {
	background-color: var(--white);
}

button:not(.button-alt) span:hover:before, 
button:not(.button-alt) span:hover:after, 
.button span:hover:before,
.button span:hover:after,
button:not(.button-alt):focus span:before, 
button:not(.button-alt):focus span:after, 
.button:focus span:before,
.button:focus span:after {
	width: 50%;
    height: 96%;
    opacity: 1;
    transition: height 0.2s 0.2s ease-in, width 0.2s 0.4s linear, opacity 0s 0.2s;
}

.button-alt {
	padding: 5px;
}
.button-alt span {
	background-color: var(--lgt-teal);
}

.button-alt:before,
.button-alt:after {
	width: 10%;
    height: 25%;
    transition: 0.35s;
	background-color: transparent;
}

.button-alt:before {
	bottom: 0;
    left: 0;
    border-left: 1px solid var(--teal);
    border-bottom: 1px solid var(--teal);
}

.button-alt:after {
	top: 0;
    right: 0;
    border-right: 1px solid var(--teal);
    border-top: 1px solid var(--teal);
}

.button-alt:hover:before,
.button-alt:hover:after,
.button-alt:focus:before,
.button-alt:focus:after {
	width: 99%;
    height: 99%;
}