.git-message{
	font-size: $font-base-size-extra-large;
	@include tablet {
		max-width: 65%;
		min-width: 642px;
		min-height: 100px;
		margin: 0 auto;
		font-size: $font-base-size-extra-large;
	}
}
.git-commit{
	font-size: $font-base-size;
	@include desktop {
		font-size: $font-base-size-med;
	}
}
.bio{
	position: relative;
	margin: $base-spacing-sm 0;
}
.email{
	font-weight: bold;
}
.contact{
	max-width: 350px;
	margin: 0 auto;
	p{
		font-size: $font-base-size-sm;
	}
}
.note{
	font-size: 1.4rem;
	font-style: italic;
}