html{
	box-sizing: border-box;
	font-size: 62.5%;
}
body{
	width: 100vw;
	height: 100vh;
	color: $color-grey;
	background: $white;
	background: url(../assets/bg.svg) no-repeat;
	background-size: cover;
}
main{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	width: 90%;
	height: calc(100vh - 132px);
	@include tablet {
		height: calc(100vh - 264px);
		width: 65%;
	}
}
img {
	width: 10rem;
	padding: $base-spacing;
}

.sr-only {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}