html{
	box-sizing: border-box;
	font-family: var(--font-stack-serif);
}
body{
	/* width: 100vw;
	height: 100vh; */
	color: var(--grey);
}
main{
	/* min-height: 100%; */
	padding: var(--base-spacing);
}

section {
	padding: var(--base-spacing-med) 0;
}