footer {
    padding: var(--base-spacing-med) var(--base-spacing);
    border-top: 2px solid var(--teal);
    background-color: var(--lgt-green);
    .title-col {
        padding-right: var(--base-spacing-large);
        .icon-row {
            justify-content: flex-start;
        }
        p {
            font-size: var(--font-base-size);
        }
    }
}