header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100vw;
	z-index: 100;
}
nav{
	margin: 0 $base-spacing-med;
	width: 40rem;
	display: flex;
	justify-content: space-between;
	a {
		color: $color-grey;
	}

}