.image-wrapper {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    img {
        height: 100%;
    }
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: var(--lgt-teal);
        transform: translateX(0);
        transition: transform ease-in 650ms
    }
    .diy-listing & {
        &:before {
            background-color: var(--lgt-green);
        }
    }
    &.in-view {
        &:before {
            transform: translateX(-100%);
        }
    }
    .is-reversed & {
        &.in-view {
            &:before {
                transform: translateX(100%);
            }
        }
    }
    &.delay-one {
        &:before {
            transition-delay: 250ms;
        }
    }
    &.delay-two {
        &:before {
            transition-delay: 500ms;
        }
    }
    &.delay-three {
        &:before {
            transition-delay: 750ms;
        }
    }
    &.hover-caption {
        overflow: hidden;
        figcaption {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding: var(--base-spacing);
            font-size: var(--font-base-size-sm);
            font-weight: 300;
            line-height: 1.2;
            text-align: center;
            color: var(--white);
            background-color: rgba(0,0,0,0.4);
            transition: transform 350ms ease-in;
            transform: translateY(0);
        }
        &:hover,
        &:focus {
            figcaption {
                transform: translateY(100%);
            }
        }
        @media (min-width: 600px) {
            figcaption{
                transform: translateY(100%);
            }
            &:hover {
                figcaption {
                    transform: translateY(0);
                }
            }
        }
    }
}

img {
    width: 100%;
    height: auto;
}


.image-col .image-wrapper {
    height: 100%;
}

.image-col img {
    height: 100%;
    object-fit: cover;
}

object {
    width: 1.75rem;
    height: 1.75rem;
}