.image-wrapper {
    max-width: 100%;
}

img {
    width: 100%;
    height: auto;
}


.image-col .image-wrapper {
    height: 100%;
}

.image-col img {
    height: 100%;
    object-fit: cover;
}

object {
    margin: var(--base-spacing-xs) var(--base-spacing-sm);
}