html{
	box-sizing: border-box;
	font-family: var(--font-stack-serif);
}
body{
	/* width: 100vw;
	height: 100vh; */
	color: var(--grey);
}
main{
	/* min-height: 100%; */
	padding: var(--base-spacing);
}

section {
	padding: var(--base-spacing-med) 0;
}

.grid {
    display: grid;
    grid-gap: var(--base-spacing);
}

@media (min-width: 600px) {
    .grid.two-col {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .grid.two-col.asym {
        grid-template-columns: 30% auto;
    }
    .grid.two-col.asym > *:not(:first-child) {
        grid-column: 2;
    }
}
