.styleguide {
    main {
        /* min-height: 100%; */
        padding: var(--base-spacing);
    }
    .icon-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .background-dark {
        display: inline-block;
        padding: var(--base-spacing-sm);
        background: #454545;
        margin-bottom: var(--base-spacing-sm);
        button {
            margin: 0;
        }
    }
}
