h1,.h1, h2,.h2, h3,.h3, h4,.h4, h5,.h5, h6,.h6 {
	margin-bottom: var(--base-spacing);
	font-weight: 300;
}

h1, .h1, h2.h1 {
	font-size: var(--font-base-size-xxl);
	font-size: clamp(var(--font-base-size-md-lg), 7vw + 1.5rem, var(--font-base-size-xxl));
}
.h1 .sm-heading {
	display: block;
	font-weight: bold;
	font-size: var(--font-base-size-lg);
}

h2, .h2 {
	font-size: var(--font-base-size-sm);
	font-size: clamp(var(--font-base-size-md), 4vw + 1.5rem, var(--font-base-size-xl));
}
h3, .h3, h4, .h4, h2.h3 {
	font-size: var(--font-base-size-sm);
	font-size: clamp(var(--font-base-size-sm), 2vw + 1.5rem, var(--font-base-size-md-lg));
}
h5, .h5 {
	font-size: var(--font-base-size);
	font-size: clamp(var(--font-base-size), 0.5vw + 1.5rem, var(--font-base-size-md));
}

h4, .h4, h5, .h5 {
	font-family: var(--font-stack-mono);
}

p,
ul, ol,
input, 
textarea{
	font-size: var(--font-base-size-sm);
}

p, ul, ol {
	line-height: 1.5;
}

p {
	padding:  0 0 var(--base-spacing) 0;
}

ul li {
	position: relative;
	padding-left: 1.5rem;
}

ul li:before {
	content: '';
	display: block;
	width: 1rem;
	height: 1rem;
	position: absolute;
	left: 0;
	top: 0.375rem;
	background-color: var(--teal);
    -webkit-mask-image: url('../assets/cirlce-paint.svg');
    mask-image: url('../assets/cirlce-paint.svg');
	mask-position: center;
}

button, 
a {
	font-size: var(--font-base-size);
	font-family: var(--font-stack-mono);
	text-transform: lowercase;
	letter-spacing: 0.5px;
}

a:focus, 
button:focus, .button:focus {
	outline: none;
}

a {
	position: relative;
	display: inline-block;
	color: var(--grey);
}

a:not(.text-link):not(.button) {
	color: var(--black);
	font-weight: bold;
	transition: color 0.25s ease-in;
}
a:hover:not(.text-link):not(.button):not(.icon-link),
a:focus:not(.text-link):not(.button):not(.icon-link) {
	color: var(--teal);
}

a:not(.text-link):not(.button):not(.icon-link):before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 100%;
	height: 2px;
	background-color: var(--teal);
	transform: scaleX(0);
	transform-origin: left center;
	transition: transform 0.25s ease-in
}

a:hover:not(.text-link):not(.button):not(.icon-link):before,
a:focus:not(.text-link):not(.button):not(.icon-link):before {
	transform: scaleX(100%);
}

a.text-link {
	padding-right: 15px;
	margin-right: 15px;
	transition: color 0.25s ease-in;
}

a.text-link:after {
	content: "";
	position: absolute;
	right: 0;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid var(--grey);
	top: 50%;
	transform: translate(0, -50%);
	transition: transform 0.25s ease-in, border-color 0.25s ease-in;
}

a:hover.text-link,
a:focus.text-link {
	color: var(--teal);
}

a:hover.text-link:after,
a:focus.text-link:after {
	border-left-color: var(--teal);
	transform: translate(5px, -50%);
}

a object {
	pointer-events: none;
}

a.icon-link {
	display: inline-flex;
	align-items: center;
	padding: var(--base-spacing-xs);
}
a.icon-link object {
	width: 20px;
	height: 20px;
	margin: 0 0 0 10px;
}
a.icon-link:before,
a.icon-link:after {
	content: '';
	position: absolute;
	width: 25%;
    height: 25%;
    transition: 0.35s;
	background-color: transparent;
}

a.icon-link:before {
	bottom: 0;
    left: 0;
    border-left: 1px solid var(--teal);
    border-bottom: 1px solid var(--teal);
}

a.icon-link:after {
	top: 0;
    right: 0;
    border-right: 1px solid var(--teal);
    border-top: 1px solid var(--teal);
}

a.icon-link:hover:before,
a.icon-link:hover:after,
a.icon-link:focus:before,
a.icon-link:focus:after {
	width: 99%;
    height: 99%;
}