h1,.h1, h2,.h2, h3,.h3, h4,.h4, h5,.h5, h6,.h6 {
	margin-bottom: var(--base-spacing);
}

h2,.h2, h3,.h3, h4,.h4, h5,.h5, h6,.h6 {
	font-weight: 300;
}

h1, .h1, h2.h1 {
	font-size: var(--font-base-size-xxl);
	font-size: clamp(var(--font-base-size-md-lg), 7vw + 1.5rem, var(--font-base-size-xxl));
}

h2, .h2 {
	font-size: var(--font-base-size-sm);
	font-size: clamp(var(--font-base-size-md), 4vw + 1.5rem, var(--font-base-size-xl));
}
h3, .h3, h4, .h4, h2.h3 {
	font-size: var(--font-base-size-sm);
	font-size: clamp(var(--font-base-size-sm), 2vw + 1.5rem, var(--font-base-size-md-lg));
}
h5, .h5 {
	font-size: var(--font-base-size);
	font-size: clamp(var(--font-base-size), 0.5vw + 1.5rem, var(--font-base-size-md));
}

h4, .h4, h5, .h5 {
	font-family: var(--font-stack-mono);
}

p,
ul, ol,
input, 
textarea{
	font-size: var(--font-base-size-sm);
}

p, ul, ol {
	line-height: 1.5;
}

p {
	padding:  0 0 var(--base-spacing) 0;
}

ul li {
	position: relative;
	padding-left: 1.5rem;
}

ul li:before {
	content: '';
	display: block;
	width: 1rem;
	height: 1rem;
	position: absolute;
	left: 0;
	top: 0.375rem;
	background-color: var(--teal);
    -webkit-mask-image: url('../assets/cirlce-paint.svg');
    mask-image: url('../assets/cirlce-paint.svg');
	mask-position: center;
}

button, 
a {
	font-size: var(--font-base-size);
	font-family: var(--font-stack-mono);
	text-transform: lowercase;
	letter-spacing: 0.5px;
} 

a {
	color: var(--grey);
}

a:not(.button),
a.text-link {
	position: relative;
	display: inline-block;
	padding-right: 15px;
	margin-right: 15px;
	transition: color 0.25s ease-in;
}

a:not(.button):after,
a.text-link:after {
	content: "";
	position: absolute;
	right: 0;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid var(--grey);
	top: 50%;
	transform: translate(0, -50%);
	transition: transform 0.25s ease-in, border-color 0.25s ease-in;
}

a:hover:not(.button),
a:focus:not(.button),
a:hover.text-link,
a:focus.text-link {
	color: var(--teal);
}

a:hover:not(.button):after,
a:focus:not(.button):after,
a:hover.text-link:after,
a:focus.text-link:after {
	border-left-color: var(--teal);
	transform: translate(5px, -50%);
}