.typewriter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--lgt-teal);
    min-height: 22rem;
    padding: var(--base-spacing-sm);
}

.git-message{
    font-family: var(--font-stack-mono);
	font-size:  var(--font-base-size-sm-md);
    font-weight: bold;
}
.git-commit{
    font-weight: normal;
    font-size: var(--font-base-size);
}
.teep-writer {
    display: block;
}

@media (min-width: 600px) {
    .git-message{
        font-family: var(--font-stack-mono);
        font-size:  var(--font-base-size-md-md);
    }
    .git-commit{
        font-size:  var(--font-base-size-sm);
    }
}